<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="DownloaderLog" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="../logs/downloader.log" />
        <param name="MaxBackupIndex" value="5" />
        <param name="MaxFileSize" value="20MB" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value=" %d{HH:mm:ss} %-5p: %c{1} - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="TRACE" />
            <param name="levelMax" value="WARN" />
        </filter>
    </appender>

    <appender name="DownloaderErrorLog" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="../logs/downloader-error.log" />
        <param name="MaxBackupIndex" value="5" />
        <param name="MaxFileSize" value="20MB" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value=" %d{HH:mm:ss} %-5p: %c{1} - %m%n" />
        </layout>
	    <filter class="org.apache.log4j.varia.LevelRangeFilter">
	        <param name="levelMin" value="ERROR" />
	        <param name="levelMax" value="ERROR" />
	    </filter>
    </appender>	
	
	<!-- Application Loggers -->	
	
	<logger name="be.spacebel.ese.downloadmanager.plugin">
		<level value="debug" />
	</logger>
	
	<logger name="esa.mep.downloader">
		<level value="debug" />
	</logger>                                

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
        <appender-ref ref="DownloaderLog" />
        <appender-ref ref="DownloaderErrorLog" />
	</root>
</log4j:configuration>
